<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="mt-4">Job Application Tracker</h1>
        <form action="/fetch" method="post" class="mb-4">
            <button type="submit" class="btn btn-primary">Fetch Emails</button>
        </form>
        {% for table in tables %}
        <div class="table-responsive">
            {{ table|safe }}
        </div>
        {% endfor %}
    </div>
</body>

</html>